{% extends 'base.html' %}

{% block seccion %}
	Usuarios
{% endblock %}

{% block titulo %}
	<h1>Lista de Usuarios:</h1>
{% endblock %}


{% block contenido %}


	<p><a href={% url "usuarios:new" %}>Agregar Usuario</a></p>

	{% for usuario in object_list %}
		<p><a href={% url "usuarios:detail" usuario.id %}>{{usuario.id}}</a>		{{usuario.nombres}}    |   Dirección:{{usuario.direccion}}    |	Celular: {{usuario.celular}}
			<a href={% url "usuarios:detail" usuario.id %}>Ver</a> <a href={% url "usuarios:edit" usuario.id %}>Editar</a> <a href={% url "usuarios:delete" usuario.id %}>Borrar</a>
		</p>
	{% endfor %}



{% endblock %}
