<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema de Ventas | {% block seccion %}	{% endblock %}</title>
</head>
<body>
	{% block titulo %}
	{% endblock %}


<p>-------------------------------------------------------------------------------------------------</p>
	<ul>
		<li><a href="">Inicio</a></li>
		<li><a href="">Usuarios</a></li>
		<li><a href="">Gastos</a></li>

	</ul>

<p>-------------------------------------------------------------------------------------------------</p>

	{% block contenido %}
	{% endblock %}
</body>
</html>
